<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '실습 | 회원가입/로그인 구현' })%>
  <body>
    <h1>fucking token</h1>
    
    <a href="/user/signup">회원가입</a>
    <a href="/user/login">로그인</a>
  </body>
</html>
